<div id="commentContainer">
    <div class="form-group">
    <h2 id="comment">Leave a Replay</h2>
 
</div>

<input type="text" id="comment-box" [(ngModel)]="comment" placeholder="Hey...say something!">
<br/>
<br/> 


<div class="btn">
<input type = "submit" id ="buttons" (click)="post()" value="comment">
<button id="button" (click)="clear()">Cancel</button>
</div> 

<br/>
<br/>
<label>
<div *ngFor="let comments of postComment ">
   <ol> <li>   <p> {{comments}} </p> </li> </ol>
</div> 
</label>




























































