* {
    margin: 0px;
    padding: 0px;
}

#comment-container {
    margin: 0 auto;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
   
}
#commentformHidden {
    display: none;
}

#buttons{
    margin-right: 6px;
    width : 65px;
    height: 20px;
    color:black;
    background-color:aqua;
    border-radius: 8px;
}

#button{
    margin-right: auto;
    width : 65px;
    height: 20px;
    color:black;
    background-color:aqua;
    border-radius: 8px;
}

#comments {
     font-family: sans-serif;
     font-size: 1.2em;
     margin-right: 3px;
     height: 20px;
     width: 180px;
     
}

