<div *ngIf="auth.user$ | async as loggedInUser">
    <div class="user-list">
        <ol *ngIf="onlineUsers">
            <li *ngFor="let user of onlineUsers">
                <button type="button" (click)="onSelectReceiver(user)"> 
                    <span class="name">{{user.name}}</span>
                </button>
            </li>
        </ol>
    </div>
    <div class="input">
        <div> 

            <label>Message </label>
            <input type="text" placeholder="type for chatting ..." class="chat-input"  [(ngModel)]="message"/>

        </div>
        <div class="button-container">
            <button color="primary" (click)="onSendMessage()">
                send
            </button>
        </div>

    </div>
    <div class="messageR" align="left">
        <div>
            <div *ngFor="let chat of chatContainer">

                <div *ngIf="chat.sender !== loggedInUser.nickname">
                    <div *ngIf="chat.receiver === loggedInUser.nickname || chat.receiver === 'All'" class="receiver-message-body">
                        <div class="message-text">
                            <div class="user-date-labelR"><span> {{chat.sender}}</span> said to <span> {{chat.receiver}}</span></div>
                            <div class="messageRR" bgcolor="yellow">{{chat.message}}</div><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="messageS" align="right">
        <div>
            <div *ngFor="let chat of chatContainer.reverse()">

                <div *ngIf="chat.sender === loggedInUser.nickname" class="sender-message-body" >
                    
                    <div class="message-text">
                        <div class="user-date-labelS"><span> {{chat.sender}}</span> said to <span> {{chat.receiver}}</span></div>
                        <div class="messageSS" bgcolor="red">{{chat.message}}</div><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
