
<div class="d-flex justify-content-center">
<div class="row container">
    <div class="col-xs-12" id="post-content">
        <div class="d-flex justify-content-center post-container">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg" class="img-circle" width="40" height="40">
        <div class="col-xs-6 form-control-sm">
            <div class="form-group">
                <input class="form-control input-lg" id="inputlg" placeholder="Share your thoughts ..." type="text">
                
            </div>
            <div class="row" id="object-container">
                <div class="col-xs-12">
                <span class="fa-solid fa-image post-element post-objects"></span><span class="objects post-objects">Photo</span>
                <span class="fa-solid fa-video post-element post-objects"></span><span class="objects post-objects">Video</span>
                <span class="fa-solid fa-calendar post-element post-objects"></span><span class="objects post-objects">Event</span>
                <button class="post-element" id="post">Post</button>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-paper-plane"></i>
    </div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="d-flex justify-content-center">My Name is Amin
                <i class="fa-solid fa-heart"
          [class.highlited]="isActive" (click)="onClick()"></i>
            </div>
        </div>
    </div>
</div>
</div>